<%- include('header') -%>

    <div id="home" class="home">
      <div id="home-content" class="home-content">
        <h1>CRUD Code Snippets</h1>
        <p>Welcome to Snippet Manager - your go-to application for managing and sharing code snippets effortlessly!
         
        </p>
       
        <a href="/snippet" class="btn" style="color: #fff;">Show Snippets</a>
      </div>

    </div>
